{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container w-100 col-12 bg-white height-75vh allauth mt-0 p-5">
    <h1 class="font my-5  text-center">{% trans "Verify Your E-mail Address" %}</h1>
    <div class="container my-5 pb-0 col-12 bg-white p-3 button-style allauth d-flex justify-content-center">
        <p class="my-3 text-center font">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
